## Question 1
Q1) Consider the following Dataset containing information regarding alcohol consumption in different countries. An analyst performs different operations to carry out certain tasks to help the analyst in performing the task.

Which continent drinks more Wine on average?

In [3]:
import pandas as pd
import numpy as np
dataframe = pd.read_csv('/storage/emulated/0/Download/201A5PS1087H/drinks.csv') 
dataframe = dataframe.replace(to_replace=np.nan, value="NoA")
most_average_wine = dataframe.groupby('continent')['wine_servings'].mean()
most_average_wine

continent
AF      16.264151
AS       9.068182
EU     142.222222
NoA     24.521739
OC      35.625000
SA      62.416667
Name: wine_servings, dtype: float64

EU drinks most wine

For each continent print the statistics for Beer consumption

In [4]:
dataframe.groupby('continent')['beer_servings'].describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NoA         23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

Print the median alcohol consumption per continent for every column

In [5]:
dataframe.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
NoA,143.0,137.0,11.0,6.30
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

## Question2
Consider a Euro 2012 football tournament.


Football analysts decide certain criteria in order to decide which team has a good chance to win this cup. Your task is to help those analysts by performing some tasks given below.

Find the teams who are participating in this tournament

In [17]:
dataset3= pd.read_csv('/storage/emulated/0/Download/201A5PS1087H/Euro_2012_stats_TEAM.csv') 
dataset3['Team']

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

Find the shooting accuracy of all the teams that have scored more than 5 goals

In [27]:
data_shooting_accuracy = data3[data3['Goals'] > 5]
data_shooting_accuracy_only= data_shooting_accuracy['Shooting Accuracy']
data_shooting_teams = data_shooting_accuracy['Team']
final_data = pd.concat((data_shooting_teams,data_shooting_accuracy_only), axis=1) 
final_data

        Team Shooting Accuracy
5    Germany             47.8%
7      Italy             43.0%
10  Portugal             34.3%
13     Spain             55.9%

Find the total number of goals scored in the tournament

In [28]:
data_goals_sum = data3['Goals'].sum()
data_goals_sum

76

Sort the teams on the basis of goals scored(non-ascending order)

In [142]:
data_sort = data3.sort_values(by="Goals",ascending=False,kind="mergesort")
data_sort

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

Find the team with the most number of red cards

In [29]:
data_most_red = data3.sort_values(by="Red Cards",ascending=False,kind="mergesort")
data_most_red.iloc[0,0]

'Greece'

## Question3

Taking the dataset, and converting the M and B categorical variables to binary variables and then converting to a numpy array

In [40]:

dataset = pd.read_csv('/storage/emulated/0/Download/201A5PS1087H/final_wdbc.csv') 
dataset_drop_id= dataset.drop('ID',axis=1)
dataframe = pd.DataFrame(data=dataset_drop_id)
df_one= pd.get_dummies(dataframe["Class"])
df_two = pd.concat((dataframe, df_one), axis=1)
df_two = df_two.drop(["M"], axis=1)
df_two = df_two.drop(["Class"], axis=1)
result = df_two.rename(columns={"B": "Class"})
train=result.sample(frac=0.85,random_state=60) #random state is a seed value
test=result.drop(train.index)
train = train.to_numpy()
test = test.to_numpy()

*Gini impurity is a measure of how often a randomly chosen element from the set would be incorrectly labeled if it was randomly labeled according to the distribution of labels in the subset.*


The GINI impurity of such a system is calculated with the following formula:
    
$$G = 1 - \Sigma_{i=1}^{2}p(i)^{2}$$

In [36]:
def calc_gini(data):
    gini = 0.0
    class_values = np.unique(data[:, -1])
    for i in range(len(class_values)):
        gini += np.power(np.divide(np.where(data[:, -1] == class_values[i])[0].shape[0], data.shape[0]), 2)
    return np.subtract(1, gini)

The gini index of the dataset is caculated, we can improve on this coefficient by finding a best split of the data

In [37]:
calc_gini(train)

0.4983416024780023

class Decision node is used for the contruction of the tree. with feature and value being the input variables

In [38]:
class DecisionNode:
    def __init__(self, feature, value, data, num_of_instances, majority):
        self.feature = feature  # column index of criteria being tested
        self.value = value  # value necessary to get a true result
        self.children = []
        self.num_of_instances = num_of_instances
        self.majority = majority

    def add_child(self, node):
        self.children.append(node)

The build tree function takes the data and the impurity to be measured a, and returns the root of the tree built,it calculates the gain between each of the two nodes and returns the best gain, the split is kept as as the mean of one value after and before the particular cell

In [39]:
def build_tree(data, impurity):
    if len(np.unique(data[:, -1])) == 1:
        return np.unique(data[:, -1])[0], data.shape[0]
    else:
        best_feature = 0
        best_threshold = 0
        best_gain = 0
        for i in range(np.subtract(data.shape[1], 1)):
            for j in range(np.subtract(data.shape[0], 1)):
                threshold = np.mean(np.array(data[j][i], data[j + 1][i]))
                child_a = data[np.where(data[:, i] <= threshold)]
                weight_a = np.divide(child_a.shape[0], data.shape[0])
                child_b = data[np.where(data[:, i] > threshold)]
                weight_b = np.divide(child_b.shape[0], data.shape[0])
                gain = impurity(data) \
                    - (np.multiply(weight_a, impurity(child_a))
                        + np.multiply(weight_b, impurity(child_b)))
                if gain > best_gain:
                    best_gain = gain
                    best_threshold = threshold
                    best_feature = i
        majority = 0.0 if np.divide(data[np.where(data[:, -1] == 0.0)].shape[0], data.shape[0]) > 0.5 else 1.0
        root = DecisionNode(best_feature, best_threshold, data, data.shape[0], majority)
        child_a = build_tree(data[np.where(data[:, best_feature] <= best_threshold)], impurity)
        child_b = build_tree(data[np.where(data[:, best_feature] > best_threshold)], impurity)
        root.add_child(child_a)
        root.add_child(child_b)
    return root

The predict function takes as a parameter the node and the data on which the prediction is to be made, and checks if the node is and instance of which two children of the decision Node made previously,it iterates untill it reaches the end of the tree

In [46]:
def predict(node, instance):
    pred = None
    if isinstance(node, DecisionNode):
        if instance[node.feature] <= node.value:
            if not isinstance(node.children[0], DecisionNode):
                return node.children[0]
            else:
                pred = predict(node.children[0], instance)
        else:
            if not isinstance(node.children[1], DecisionNode):
                return node.children[1]
            else:
                pred = predict(node.children[1], instance)
    else:
        return node

    return pred

The calc_accuracy function checks for every right and wrong prediction and returns the accuracy of the tree by using the predict function over all the values of the test data

In [45]:
def calc_accuracy(node, data):
    right_prediction = 0
    wrong_prediction = 0

    for i in range(data.shape[0]):
        prediction = predict(node, data[i])
        if prediction[0] == data[i][-1]:
            right_prediction += 1
        else:
            wrong_prediction += 1

    accuracy = np.multiply(np.divide(right_prediction, np.add(right_prediction, wrong_prediction)), 100)
    return accuracy

Here we are calculating the accuracy of the decision tree by using the X_test data

In [41]:
tree = build_tree(data=train, impurity=calc_gini)

In [47]:
accuracy = calc_accuracy(tree, test)
accuracy

93.75